.entry-author {
	background-color: #fbfbfb;
	border: none;
	padding: rem-calc(50) rem-calc(80);
	margin: rem-calc(50) (-($column-gutter/2));
	
	.avatar {
		margin-right: rem-calc(40);
		margin-bottom: rem-calc(24);
	}
	
	h4 {
		a {
			color: #999;
			&:hover, &:focus {
				color: $body-font-color;
			}
		}
	}
	
	p {
		color: #bbb;
	}
}