div.program-list{
    margin: 2em 0;

    h2{
        margin-bottom: .4em;
    }
}

ul.programs{
    list-style: none;
    padding: 0;
    margin: 0;

    li.program.panel{
        background: #fff;
        border: 0px;
        border-bottom: 1px solid #ddd;

        h3{
            line-height: 1.8em;
            border-bottom: 1px solid #ddd;
        }

        .subheader{
            font-size: .8em;
            text-transform: uppercase;
            color: #888;
        }
    }
}

